html {
	background-color: #4717f6;
}

h1 {
	color: #4717f6;
	width: 350px;
	font-family: Barthowheel;
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20 0;
	color: #4717f6;
	text-shadow: 3px 3px 1px black;
}

h1:hover {
	color: #E7DFDD;
}

p,a {
	font-family: Barthowheel;
	width: auto;
	font-size: 25px;
	text-align: center;
	color: #E7EFDD;
}

body {
  width: auto;
  margin: auto;
  padding: 0 20 20 20 ;
	background-color: #0e0b16;
	border: 5px solid #a239ca
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
	margin: 0 auto;
	display: block;
	
}