html {
	background-image: url(../images/bg.png);
}

h1 {
	color: #4717f6;
	width: 350px;
	font-family: Barthowheel;
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20 0;
	color: #4717f6;
	text-shadow: 3px 3px 1px black;
}

h1:hover {
	color: #E7DFDD;
}

h2 {
	font-family: Barthowheel;
	width: auto;
	font-size: 35px;
	text-align: center;
	color: #E7EFDD;
	
}

ul{ list-style-type: none; }


p,a {
	font-family: Barthowheel;
	width: auto;
	font-size: 25px;
	text-align: center;
	color: #E7EFDD;
}

body {
  width: auto;
  margin: auto;
  padding: 0 20 20 20 ;
	background-color: #0e0b16;
	border: 5px solid #a239ca
}

img {
	margin: 0 auto;
	display: block;
	
}

.nav {
	font-size: 20px;
	font-family: Barthowheel;
	text-align: left
	}

.local {
	color: #e7efdd;
}

.word {
	font-family: Barthowheel;
	width: auto;
	font-size: 25px;
	text-align: center;
	color: #E7EFDD;
}
.head {
	text-decoration: none;
	color: #4717f6
}

.list {
	font-family: Barthowheel;
	width: auto;
	font-size: 25px;
	color: #e7efdd;
	display: block;
	text-align: center;
}

/* Contact Form */

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
	font-family: Barthowheel;
	width: auto;
	font-size: 25px;
	color: #E7EFDD;
}

.body {
    display:block;
    margin:0 auto;
    width:576px;
}

form {
    margin:0 auto;
    width:459px;
}

input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

textarea {
	height:213px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {
    width:127px;
    height:38px;
    background:url(images/submit.jpg);
    text-indent:-9999px;
    border:none;
    margin-top:20px;
    cursor:pointer;
	text-align: center
}

	#submit:hover {
	    opacity:.9;
	}